PORT=8080
GIN_MODE=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=ecommerce_api
DB_SSLMODE=disable

JWT_SECRET=very_secret_string  # string
JWT_EXPIRES_IN=24h  # string with suffix h, m, s etc
REFRESH_TOKEN_EXPIRES_IN=72h  #  string with suffix h, m, s etc

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=ecommerce-uploads
AWS_S3_ENDPOINT=http://localhost:9000
AWS_EVENT_QUEUE_NAME=ecommerce-events

UPLOAD_PATH=./uploads
MAX_UPLOAD_SIZE=10485760  # 100 MB
UPLOAD_PROVIDER=local
